
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <div class="thumbnail">
<!--                    <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">-->
                    <div class="caption">
                        <h3>Our History</h3>
                        <p> Pellentesque ac posuere eros, vitae lobortis elit. Etiam feugiat sollicitudin lacus. Duis maximus sagittis feugiat. Aenean sed mauris accumsan, fringilla nisi sed, lacinia felis. Quisque faucibus, metus et mollis eleifend, lorem tellus sagittis metus, quis faucibus ipsum sem vitae dolor. Duis sed eros in neque rutrum placerat. Cras vel odio at ipsum tempus pellentesque a quis urna. In dictum eros convallis ex feugiat, a gravida mi dignissim. Nam sollicitudin arcu porta lorem lobortis scelerisque.</p>
                        <div class="well">
                            <blockquote>
                                <p>Ut nec mi ac nulla finibus sagittis sodales et odio. Nullam a imperdiet urna. Morbi luctus sem sit amet turpis tempus, id bibendum dui consectetur.</p>
                                <footer>Yogi Berra,  
                                <cite title="Source Title">The Wit and Wisdom of Yogi Berra, P. Pepe, Diversion Books, 2014</cite></footer>
                            </blockquote>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
